.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.website-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image {
    margin-left: 10px;
    height: 150px;
    width: 250px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 10px;
}

.second-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-boxes {
    display: flex;
    flex-direction: row;
}

.box-text {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    align-items: center;
}

.box {
    border-radius: 4px;
    height: 200px;
    width: 175px;
    outline-color: black;
    background-color: black;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.button {
    height: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}